$colorBackground: #EDEBEE;
$fontMain: Bahnschrift;
$sizeTitle: 50px;
$colorPrimary: #6203AD;
$elevated: 0px 0px 10px rgba(0, 0, 0, 0.05);
$colorLight: rgba(0, 0, 0, 0.2);

/* Début responsive mobile */

@media (max-width: 1800px) {
  .container-add-search button {
    font-size: 15px !important;
  }
}

@media (max-width: 1445px) {
  .container-add-search button {
    font-size: 12px !important;
  }
}

@media (max-width: 1250px) {
  .home {
    width: 70% !important;
  }
  .autre-citation-btn {
    flex-direction: column;
  }
  .container-add-search button {
    font-size: 15px !important;
  }
}

@media (max-width: 1155px) {
  .home {
    width: 70% !important;
  }
  .autre-citation-btn {
    flex-direction: column;
  }
}

@media (max-width: 1030px) {
  .container-add-search button {
    font-size: 11px !important;
  }
}

@media (max-width: 888px) {
  .home {
    width: 80% !important;
  }
  .citation-random {
    width: 90% !important;
    font-size: 25px !important;
  }
  .citation-random-infos p {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .container-add-search {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .container-add-search button {
    width: 250px !important;
  }
  .container-add-search button {
    font-size: 20px !important;
  }
}

@media (max-width: 630px) {
  .container-search input[type=text] {
    font-size: 15px !important;
  }
  .container-search input[type=text]::placeholder {
    font-size: 15px !important;
  }
}

@media (max-width: 600px) {
  .citation-user-icons {
    bottom: 10px !important;
    gap: 10px !important;
  }
  .container-citation-user p {
    width: 80% !important;
  }
}

@media (max-width: 500px) {
  .home {
    width: 90% !important;
  }
  .citation-random {
    width: 95% !important;
    font-size: 20px !important;
  }
  .citation-random-infos p {
    font-size: 15px;
  }
}

@media (max-width: 421px) {
  .container-search {
    font-size: 20px !important;
    width: 95% !important;
  }
}

@media (max-width: 300px) {
  .container-search i {
    right: -10px !important;
  }
}

/* Fin responsive mobile */


body {
  margin: 0;
  padding: 0;
  background-color: $colorBackground;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 100%;
  position: relative;
}

.main h1 {
  font-family: $fontMain;
  font-size: $sizeTitle;
  text-align: center;
}

button {
  cursor: pointer;
}

.container-citation-random {
  border: 5px solid $colorPrimary;
  border-radius: 30px;
  color: $colorPrimary;
  font-family: $fontMain;
  width: 100%;
  font-weight: bold;
  padding: 2rem 0 2rem 0;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.citation-random {
  width: 70%;
  font-size: 30px;
  text-align: center;
  word-wrap: break-word;
}

.citation-random-infos {
  font-style: italic;
  font-weight: normal;
  width: 90%;
  text-align: end;
  margin-bottom: 20px;
}

.citation-random-infos p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.citation-random-favoris {
  display: flex;
  gap: 5px;
}

.citation-random-favoris p {
  font-weight: bold;
  border-bottom: 1px solid $colorPrimary;
  font-size: 20px;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 20px;
}

.citation-random-favoris i {
  font-size: 18px;
  line-height: 17px;
}

.autre-citation-btn {
  display: flex;
  gap: 30px;
}

.container-autre-citation {
  margin-top: 50px;
}

.container-autre-citation h2 {
  font-family: $fontMain;
  text-align: center;
}

.autre-citation-btn button {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  color: $colorPrimary;
  font-family: $fontMain;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  gap: 10px;
  transition: all 0.3s ease-in;
  background-color: white;
}

.autre-citation-btn button:before {
  width: 100%;
  height: 50px;
  background-color: red;
}

.autre-citation-btn button:hover {
  background-color: $colorPrimary;
  color: white;
}

hr {
  width: 100%;
  height: 1px;
  background-color: $colorLight;
  border: none;
  margin-top: 100px;
  margin-bottom: 100px;
}

.container-mes-citations h2 {
  font-family: $fontMain;
  text-align: center;
  font-size: 35px;
}

.container-add-search {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.container-add-search button {
  background-color: $colorPrimary;
  color: white;
  border: none;
  padding: 0.3rem 1rem 0.3rem 1rem;
  font-size: 20px;
  font-family: $fontMain;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  width: 27%;
  transition: all 0.3s ease-in;
}

.container-add-search button:hover {
  background-color: white;
  color: $colorPrimary;
}

.container-add-search button i {
  font-style: normal;
  font-size: 40px;
}

.container-search {
  position: relative;
  width: 70%;
  margin-right: 8px;
}

.container-search input[type=text] {
  border: 2px solid $colorPrimary;
  border-radius: 10px;
  line-height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  font-size: 20px;
  color: $colorPrimary;
  padding-left: 10px;
}

.container-search input[type=text]::placeholder {
  color: $colorPrimary;
  font-size: 20px;
  font-family: $fontMain;
}

.container-search i {
  position: absolute;
  color: $colorPrimary;
  right: 10px;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.home {
  width: 50%;
  margin: auto;
  position: relative;
}

.btn-favoris {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.container-citation-user {
  border-top: 2px solid $colorLight;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.last-citation {
  border-bottom: 2px solid $colorLight;
}

.container-citations-user {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-citation-user p {
  font-style: italic;
  font-family: $fontMain;
  width: 60%;
  text-align: center;
  font-size: 18px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  word-wrap: break-word;
}

.citation-user-icons {
  position: absolute;
  right: 20px;
  display: flex;
  gap: 20px;
}

.citation-user-icons i {
  font-size: 20px;
  color: #122236;
  cursor: pointer;
}

.container-mesFavoris {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mesFavoris-citation {
  font-size: 18px;
  font-family: $fontMain;
  font-style: italic;
  width: 80%;
  text-align: center;
}

.mesFavoris-infos {
  font-family: $fontMain;
  font-style: italic;
  text-align: end;
}

.btn-favoris {
  transition: all 0.1s ease-in-out;
}

.btn-toggle-favoris {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  color: $colorPrimary;
  font-family: $fontMain;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.3s ease-in;
  background-color: white;
  width: 250px;
}

.btn-toggle-favoris:hover {
  color: white;
  background-color: $colorPrimary;
}

.mesFavoris {
  width: 100%;
  margin-top: 10px;
  border: 2px solid $colorPrimary;
}

.mesFavoris-card {
  font-family: $fontMain;
  background-color: rgba(98, 3, 173, 0.05);
}

.no-favoris {
  font-family: $fontMain;
}

.mesFavoris-erase {
  text-align: end;
}

.mesFavoris-erase i {
  font-size: 20px;
  color: $colorPrimary;
  cursor: pointer;
}

.mesFavoris-block-citation {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.snackbar {
  background-color: $colorPrimary !important;
}

.snackbarError {
  background-color: #ad1010 !important;
}